<form action='/<%= id if mode == "edit" %>' method='POST'>
	<p>    
		<% if mode == "edit" %>
      		Edit your Idea:
      	    <input type="hidden" name="_method" value="PUT" />
    	<% else %>
      		Your Idea:
    	<% end %> 
    	<input type='text' name='idea[title]' value="<%= idea.title %>"/>
    </p>
	<textarea name='idea[description]'><%= idea.description %></textarea><br/><br/>
	<input type='submit'/>
</form>