<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>IdeaBox!</h1>
    <form action='/' method='POST'>
      <p>Your Idea: <input type='text' name='idea_title'/></p>
      <textarea name='idea_description'></textarea><br/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>